.admin {
  display: grid;
  grid-template-rows: 1fr auto 1fr; /* Keep the same top and bottom rows */
  grid-template-rows: 12% 76% 12%; /* Keep the same top and bottom rows */
  grid-template-areas:
    "header header header header"
    "sidebar admincontent admincontent admincontent"
    "footer footer footer footer";
  /* grid-gap: 1rem; */
  min-height: 100vh;
  grid-template-columns: 30% 70%;
}

.admin__header {
  grid-area: header;
  /* padding: 1resm 2rem; */
  /* height: 15vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  text-align: center;
  font-size: 2rem;
}

.admin__header p strong {
  font-family: var(--font-span);
  font-style: italic;
}

.admin__sidebar {
  grid-area: sidebar;
  max-width: 250px;
  width: 100%;
  background-color: var(--color-quaternary);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* justify-content: space-evenly;s */
  align-items: center;
  padding: 1rem 0;
  color: var(--color-primary);
}

.admin__content {
  grid-area: admincontent;
  overflow-y: scroll;
}

.admin__footer {
  grid-area: footer;
  /* height: 10vh;s */
  background-color: var(--color-primary);
}

#admin-user-card-container , #admin-book-card-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
#admin-users-card, #admin-books-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 90%;
  padding: 1rem;
}
