.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  background-color: var(--color-primary);
}

.header__logo{
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.header__logo img{
    height: 100px;
    width: 150px;
}

.header__logo figcaption h1{
    font-size: 2rem;
    color: var(--color-secondary);
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav__list{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.header__nav__list__item__link{
    text-decoration: none;
    color: var(--color-quaternary);
    font-weight: 600;
}
